{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
   <main>
    <section class="todoContainer">
        <h1>Django Todo App</h1>
        <div class="day">
            <h2>My Day</h2>
            <p>{% now "jS F Y" %}</p>
        </div>
        <div class="todoTask">
            <div class="notCompleted">
             {% for i in tasks %}
             {% if i.task %}
                <span>
                    <p>{{i.task}}</p>
                    <button class="markbtn">Mark as completed</button>
                    <button class="delbtn"><i class="fa-solid fa-trash"></i></button>
                    <button class="upbtn"><i class="fa-solid fa-pen"></i></button>
                </span>
            {% endif %}
    
             {% endfor %}
    
            </div>
            <div class="Completed">
                <div class="completedTaskHeading">
                    <h3>Completed Task</h3>
                </div>
                
                <div class="completedTask">
                    {% for i in completeTask %}
                    <p>{{i.task}}</p>
                    {% endfor %}
                </div>
    
            </div>
           
        </div>
        <div class="todoAdd">
            
                <form action="{% url 'addTask' %}" method="POST">
                    {% csrf_token %}
                <input type="text" name="task" placeholder="This is the New Task">
                <button type="submit">Add</button>
    
            </form> 
        </div>
    </section>
   </main>
</body>
</html>